<mat-form-field appearance="standard" color="warn">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="..." #input>
</mat-form-field>

<table mat-table [dataSource]="profiles" class="mat-elevation-z8">

    <!-- CPF Column -->
    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let profile"> {{profile.cpf}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let profile"> {{profile.name}} </td>
    </ng-container>

    <!-- E-mail Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-MAIL </th>
        <td mat-cell *matCellDef="let profile"> {{profile.email}} </td>
    </ng-container>

    <!-- Profile Column -->
    <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef> PERFIL </th>
        <td mat-cell *matCellDef="let profile"> {{profile.profile}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let profile">
            <button mat-icon-button aria-label="Editar" color="primary" [routerLink]="['/edit-profile', profile.id]" matTooltip="Editar Perfil">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let profile">
            <button mat-icon-button aria-label="Deletar" color="warn" [routerLink]="['/remove-profile', profile.id]" matTooltip="Remover Perfil">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>