<div class="profile-page">
    <mat-card class="mat-elevation-z20">
        <mat-card-title>Adicionar Perfil</mat-card-title>
        <mat-card-subtitle>Sistema de Gerenciamento de Usuários</mat-card-subtitle>
        <mat-card-content>
            <form #formRegister="ngForm" (ngSubmit)="addProfile(formRegister)" novalidate>
            
                <mat-form-field color="warn">
                    <input matInput type="text" #cpf name="cpf" placeholder="CPF" [(ngModel)]="profile.cpf" maxlength="11"
                        minlength="11" required>
                    <mat-icon matSuffix>recent_actors</mat-icon>
                    <mat-hint align="end">{{cpf.value.length}} / 11</mat-hint>
                </mat-form-field>
            
                <mat-form-field color="warn">
                    <input matInput type="text" #name name="nome" placeholder="Nome" [(ngModel)]="profile.name" maxlength="25"
                        minlength="3" required>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint align="end">{{name.value.length}} / 25</mat-hint>
                </mat-form-field>
            
                <mat-form-field color="warn">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" #email name="email" placeholder="E-mail" [(ngModel)]="profile.email" maxlength="50"
                        minlength="8" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint align="end">{{email.value.length}} / 50</mat-hint>
                </mat-form-field>
            
                <mat-form-field color="warn">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" #password name="password" placeholder="Senha" [(ngModel)]="profile.password"
                        maxlength="12" minlength="6" required>
                    <mat-icon matSuffix>password</mat-icon>
                    <mat-hint align="end">{{password.value.length}} / 12</mat-hint>
                </mat-form-field>
            
                <mat-form-field class="user-full-width" appearance="fill" color="warn">
                    <mat-label>Tipo de Perfil</mat-label>
                    <mat-select [(ngModel)]="profile.profile" name="profile" required>
                        <mat-option></mat-option>
                        <mat-option value="admin">Administrador</mat-option>
                        <mat-option value="user">Usuário</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>recent_actors</mat-icon>
                </mat-form-field>
            
                <button mat-raised-button color="warn" type="submit" class="profile-button">Adicionar Perfil</button>
            
            </form>
            
            <button mat-raised-button color="primary" class="profile-button" (click)="comeBack()">Mudei de Ideia</button>
        </mat-card-content>
    </mat-card>
</div>