.header {
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: whitesmoke;
  text-decoration: none;
}

.header .header-title {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 25px;
}

.header .header-menu{
  padding-right: 2rem;
  text-transform: uppercase;
  color: whitesmoke;
}