<mat-toolbar class="header mat-elevation-z4" color="warn">
    <span class="header-title">
        <a routerLink="/">{{title}}</a>
    </span>
    <span class="header-menu">
        <a mat-button routerLink="/add-profile">Adicionar Perfil</a>
        <a mat-button (click)="accessLogout()">Sair</a>
    </span>
</mat-toolbar>