<mat-toolbar class="footer">
    <span class=".footer-text">
        Desenvolvido com
        <i class="material-icons favorite">favorite</i>
        por <strong>Izequias Silva</strong>
    </span>
</mat-toolbar>