.footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  justify-content: center;
}

.footer span {
  font-size: small;
  font-weight: lighter;
}

.footer .favorite {
  vertical-align: middle;
  color: #f44336;
}