<div class="profile-page">
  <mat-card class="mat-elevation-z20">
    <mat-card-title>Olá {{ profile.cpf }}</mat-card-title>
    <mat-card-subtitle>Bem Vindo ao Sistema de Gerenciamento de Usuários</mat-card-subtitle>
    <mat-card-content>
      <app-list-profile></app-list-profile>
    </mat-card-content>
  </mat-card>
</div>