<div class="profile-page">
    <mat-card class="mat-elevation-z20">
        <mat-card-title>Editar Perfil</mat-card-title>
        <mat-card-subtitle>Sistema de Gerenciamento de Usuários</mat-card-subtitle>
        <mat-card-content>
            <form #form="ngForm" (ngSubmit)="editProfile(form)" novalidate>

                <mat-form-field color="warn">
                    <input matInput type="text" id="cpf" name="cpf" [(ngModel)]="profile.cpf" #cpf maxlength="11" minlength="11">
                    <mat-icon matSuffix>recent_actors</mat-icon>
                    <mat-hint align="end">{{cpf.value.length}} / 11</mat-hint>
                </mat-form-field>

                <mat-form-field color="warn">
                    <input matInput type="text" id="name" name="name" [(ngModel)]="profile.name" #name maxlength="25" minlength="3">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-hint align="end">{{name.value.length}} / 25</mat-hint>
                </mat-form-field>

                <mat-form-field color="warn">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" id="email" name="email" [(ngModel)]="profile.email" #email maxlength="25" minlength="8">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint align="end">{{email.value.length}} / 25</mat-hint>
                </mat-form-field>

                <mat-form-field color="warn">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" id="password" name="password" [(ngModel)]="profile.password" #password maxlength="12" minlength="6">
                    <mat-icon matSuffix>password</mat-icon>
                </mat-form-field>

                <mat-form-field class="user-full-width" appearance="fill" color="warn">
                    <mat-label>Tipo de Perfil</mat-label>
                    <mat-select [(ngModel)]="profile.profile" name="profile">
                        <mat-option value="admin">Administrador</mat-option>
                        <mat-option value="user">Usuário</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>recent_actors</mat-icon>
                </mat-form-field>

                <button mat-raised-button color="warn" type="submit" class="profile-button">Editar Perfil</button>

            </form>

            <button mat-raised-button color="primary" class="profile-button" (click)="comeBack()">Mudei de Ideia</button>
        </mat-card-content>
    </mat-card>
</div>