<div class="profile-page">
  <mat-card class="mat-elevation-z20">
    <mat-card-title>Remover Perfil</mat-card-title>
    <mat-card-subtitle>Você está prestes a remover este perfil do sistema!</mat-card-subtitle>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="removeProfile(form)" novalidate>

        <mat-form-field color="warn">
          <input matInput type="text" name="cpf" [(ngModel)]="profile.cpf" disabled>
          <mat-icon matSuffix>recent_actors</mat-icon>
        </mat-form-field>

        <mat-form-field color="warn">
          <input matInput type="text" name="name" [(ngModel)]="profile.name" disabled>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field color="warn">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="profile.email" disabled>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit" class="profile-button">Remover Perfil</button>

      </form>

      <button mat-raised-button color="primary" class="profile-button" (click)="comeBack()">Mudei de Ideia</button>
    </mat-card-content>
  </mat-card>
</div>