.profile-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.profile-button {
  display: block;
  width: 80%;
  margin: 20px auto;
  text-transform: uppercase;
}

mat-card {
  width: 80%;
  max-width: 600px;
  margin: 15% auto;
  border-radius: 8px;
}

mat-card-title {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

mat-card-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: red;
}

mat-card-content {
  margin-top: 20px;
}

mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}